body{
    min-width: 1170px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #8d8f92;
}

.container{
    min-width: 768px;
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*
Шапка сайта
*/
.main-header{
    position: relative;
    background-color: #1d2126;
    color: #ffffff;
}

.main-header .logo{
    position: absolute;
    top: 30px;
    float: left;
    max-width: 165px;
}

.navigation{
    float: right;
    max-width: 680px;
}

.navigation ul{
    margin: 0;
}

.navigation li{
    display: inline-block;
    vertical-align: top;
    padding: 23px 0;
    margin: 0 5px;
}

.navigation a{
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #a4aead;
    padding: 0 10px;
    border: 2px solid transparent;
}

.navigation a:hover{
    border: 2px solid #a4aead;
    border-radius: 4px;
}

.navigation .active-nav{
    color: #23b7a4;
    border: 2px solid #23b7a4;
    border-radius: 4px;
}

.navigation .active-nav:hover{
    border: 2px solid #23b7a4;
}

.slider{
    background: #3a454d url("../_img/img_header3.jpg") 50% 30%;
    background-size: cover;
    width: 100%;
    min-height: 660px;
}

/*.slider:hover{*/
    /*opacity: 0.55;*/
/*}*/

.slider .inner-slider{
    min-height: 660px;
    position: relative;
}

.slider .head-slider{
    padding-top: 222px;
}

.head-slider .head-title{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
}

.head-slider .head-text{
    color: #ccd0d7;
    max-width: 665px;
    vertical-align: 3px;
    margin: 15px 0 35px;
}


.slider .slider-items{
    position: absolute;
    right: 3px;
    bottom: 24px;
    font-size: 0;
}

.slider-items .slider-item{
    width: 9px;
    height: 9px;
    padding: 4px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    margin-left: 9px;
}

.slider-item.active-slider{
    background-color: #ffffff;
}

.btn{
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 20px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    margin-right: 10px;
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    background-color: transparent;
}

.btn:hover{
    border: 2px solid #23b7a4;
    background: #23b7a4;
}

.title-block{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #292f36;
    text-transform: uppercase;
    padding-bottom: 62px;
    padding-top: 80px;
}

.title-block:before{
    content: '';
    line-height: 35px;
    font-size: 35px;
    background-color: #e1e6ea;
    padding: 0 5px;
    margin-right: 15px;
}


/*
Секция About
*/
.about{
    padding-bottom: 98px;
    border-bottom: 2px solid #f6f7f8;
}
.about-inner .about-row{
    max-width: 658px;
}

.about-inner .about-row-reasons{
    max-width: 460px;
}

.about-row-reasons .about-title-reason{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 6px;
    padding-left: 70px;
}

.about-row-reasons .about-reason{
    position: relative;
}

.about-row-reasons .about-number-reason{
    position: absolute;
    top: 6px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #23b7a4;
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 42px;
    color: #ffffff;
    padding: 4px 0;
}
.about-row-reasons .about-text-reason{
    margin-bottom: 28px;
    padding-left: 70px;
}

.left-row{
    float: left;
}

.right-row{
    float: right;
}

.about-row .about-text{
    margin-bottom: 33px;
}

.about-text span{
    font-weight: 700;
}

.social-btn{
    font-size: 0;
    line-height: 0;
}

.social-btn a{
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 50px;
    text-align: center;
    padding: 10px 0;
    margin-right: 1px;
    background-color: #c8cdd0;
    text-decoration: none;
}

.social-btn a:hover{
    background-color: #d0d5d9;
}

/*
Секция team
*/

.team{
    margin-bottom: 100px;
}

.team-item{
    position: relative;
    float: left;
    margin-right: 30px;
}

.team-item:nth-of-type(4n){
    margin-right: 0;
}

.team-item span{
    display: block;
}

.team-item .team-item-photo{
    width: 262px;
    height: 300px;
    background-color: #d4dade;
}

.team-item .team-item-description{
    background-color: #e1e6ea;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
}

.btn-item-team{
    position: absolute;
    top: 125px;
    left: 59px;
}

.btn-item-team a{
    background-color: #3a454d;
}

.btn-item-team a::before{
    font-size: 18px;
}
.btn-item-team a:hover{
    background-color: #4e5a62;
}

.team-item-description .team-title-name{
    color: #292f36;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    line-height: 18px;
}

.team-item-description .team-title-post{
    font-size: 14px;
    line-height: 26px;
}


/*
Секция work
*/
.work{
    background-color: #3a454d;
    padding-bottom: 60px;
}

.work .work-item{
    position: relative;
    float: left;
    background-color: #7898ad;
    margin-right: 30px;
    margin-bottom: 30px;
}

.icons{
    position: relative;
}

.icons::before{
    content: '';
    position: absolute;
    background: url("../_img/sprites.png");
    width: 48px;
    height: 48px;
    left: 50%;
    margin-left: -24px;
    margin-top: 32px;
}

.sprite-cogs::before{
    background-position: 0 0;
}

.sprite-pencil::before{
    background-position: 0 -78px;
}

.sprite-mobile::before{
    background-position: 0 -156px;
}

.sprite-clock::before{
    background-position: 0 -234px;
}


.title-block-invert{
    color: #ffffff;
}

.title-block-invert::before{
    background-color: #4e5a62;
}

.work .work-item:nth-of-type(3n){
    margin-right: 0;
}

.work-item .work-item-img{
    width: 360px;
    height: 265px;
}

.work-item .span-plus{
    position: absolute;
    top: 40%;
    left: 48%;
}

.work-item .work-description{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    color: #ffffff;
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 42px;
    padding: 9px 20px;
    background-color: #292f36;
}

.work .btn{
    display: block;
    margin: 30px auto 0;
}

.work .btn:hover{
    background-color: #23b7a4;
}


/*
Блок способности
*/
.able{
    padding-bottom: 50px;
}

.able .able-item{
    float: left;
    max-width: 262px;
    margin-right: 30px;
}

.able .able-item:nth-of-type(4n){
    margin-right: 0;
}

.able-item .able-title{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 19px;
    color: #292f36;
    text-transform: uppercase;
    text-align: center;
    padding-top: 114px;
}

.able-item .able-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 58px;
}


/*
Блок особенности
*/
.features{
    background-color: #3a454d;
}

.features .features-item{
    float: left;
    margin-right: 30px;
    width: 360px;
}

.features .features-item:nth-of-type(3n){
    margin-right: 0;
}

.features-item .feature-img{
    background-color: #4e5a62;
    width: 360px;
    height: 240px;
    margin-bottom: 44px;
}

.features-item .feature-title{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.features-item .feature-text{
    margin-bottom: 120px;
    color: #dcdfe1;
}


/*
Блок контакты
*/
.contacts{
    padding-bottom: 68px;
}

.contacts .form-position{
    position: relative;
}

.contacts .map{
    width: 100%;
    height: 346px;
    background-color: #e1e6ea;
    margin-bottom: 57px;
}

.contacts .contact-row{
    max-width: 555px;
}

.contact-row .contact-title{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #292f36;
    margin-bottom: 36px;
    padding-left: 10px;
}

.contacts .contact-text{
    margin-bottom: 32px;
}

.contact-text span{
    font-weight: 700;
}
.contacts .form-row{
    /*max-width: 555px;*/
    position: absolute;
    bottom: 60px;
    right: 0;
    width:555px;
    height: 400px;
    background-color: #ffffff;
    padding: 30px;
    box-sizing: border-box;
}

.form-message .form-field{
    position: relative;
    width: 48%;
    margin-bottom: 24px;
}

.form-message .form-field:nth-of-type(1){
    margin-right: 15px;
}
.form-message .field-inline{
    display: inline-block;
}

.form-message .field-area{
    width: 100%;
}

.form-message .btn{
    background-color: #23b7a4;
    border-color: #23b7a4;
}

.form-field .form-label{
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
}

.form-field .form-input{
    margin-top: 30px;
    padding: 5px 0;
    width: 100%;
    border: none;
    background-color: #eaeef1;
}

.form-field .form-textarea{
    margin-top: 30px;
    width: inherit;
    border: none;
    background-color: #eaeef1;
}

.form-field .form-input:focus,
.form-field .form-textarea:focus{
    outline: none;
}


/*
Блок подвала
*/
.main-footer{
    background: #3a454d;
    font-size: 14px;
    color: #ffffff;
}

.main-footer .copyright{
    padding: 35px 0;

}

.social-footer{
    padding: 33px 0;
}

.social-footer a::before{
    font-size: 18px;
    text-decoration: none;
    margin-left: 15px;
}

h1, h2, p, figure{
    margin: 0;
}

.hidden{
    display: none;
}