body{
    min-width: 1170px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #8d8f92;
}

.container{
    min-width: 768px;
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*
Шапка сайта
*/
.main-header{
    position: relative;
    background-color: #1d2126;
    color: #ffffff;
}

.main-header .logo{
    position: absolute;
    top: 30px;
    float: left;
    max-width: 165px;
}

.navigation{
    float: right;
    max-width: 680px;
}

.navigation ul{
    margin: 0;
}

.navigation li{
    display: inline-block;
    vertical-align: top;
    padding: 23px 0;
    margin: 0 5px;
}

.navigation a{
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #a4aead;
    padding: 0 10px;
    border: 2px solid transparent;
}

.navigation a:hover{
    border: 2px solid #a4aead;
    border-radius: 4px;
}

.navigation .active-nav{
    color: #23b7a4;
    border: 2px solid #23b7a4;
    border-radius: 4px;
}

.navigation .active-nav:hover{
    border: 2px solid #23b7a4;
}

.slider{
    background: #3a454d url("../_img/img_header3.jpg") 50% 30%;
    background-size: cover;
    width: 100%;
    min-height: 660px;
}

.slider .inner-slider{
    min-height: 660px;
    position: relative;
}

.slider .head-slider{
    padding-top: 222px;
}

.head-slider .head-title{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.head-slider .head-text{
    color: #ccd0d7;
    max-width: 665px;
    vertical-align: 3px;
    margin: 15px 0 35px;
}


.slider .slider-items{
    position: absolute;
    right: 3px;
    bottom: 24px;
    font-size: 0;
}

.slider-items .slider-item{
    width: 9px;
    height: 9px;
    padding: 4px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    margin-left: 9px;
}

.slider-item.active-slider{
    background-color: #ffffff;
}

.btn{
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 25px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
}

.btn:hover{
    border: 2px solid #23b7a4;
    background: #23b7a4;
}

.title-block{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #292f36;
    text-transform: uppercase;
    margin: 82px 0 62px;
}

.title-block:before{
    content: '';
    line-height: 35px;
    font-size: 35px;
    background-color: #e1e6ea;
    padding: 0 5px;
    margin-right: 15px;
}


/*
Секция About
*/
.about{
    padding-bottom: 100px;
    border-bottom: 1px solid #f6f7f8;
}
.about-inner .about-row{
    max-width: 658px;
}

.about-inner .about-row-reasons{
    max-width: 460px;
}

.about-row-reasons .about-title-reason{
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 6px;
    padding-left: 70px;
}

.about-row-reasons .about-reason{
    position: relative;
}

.about-row-reasons .about-number-reason{
    position: absolute;
    top: 6px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #23b7a4;
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 42px;
    color: #ffffff;
    padding: 4px 0;
}
.about-row-reasons .about-text-reason{
    margin-bottom: 28px;
    padding-left: 70px;
}

.left-row{
    float: left;
}

.right-row{
    float: right;
}

.about-row .about-text{
    margin-bottom: 33px;
}

.about-text span{
    font-weight: 700;
}

.social-btn{
    font-size: 0;
    line-height: 0;
}

.social-btn a{
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 50px;
    text-align: center;
    padding: 10px 0;
    margin-right: 1px;
    background-color: #c8cdd0;
    text-decoration: none;
}

.social-btn a:hover{
    background-color: #d0d5d9;
}


/*
Секция team
*/
.team-item{
    position: relative;
    float: left;
    margin-right: 30px;
}

.team-item:nth-of-type(4n){
    margin-right: 0;
}

.team-item span{
    display: block;
}

.team-item .team-item-photo{
    width: 262px;
    height: 300px;
    background-color: #d4dade;
}

.team-item .team-item-description{
    background-color: #e1e6ea;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
}

.btn-item-team{
    position: absolute;
    top: 125px;
    left: 59px;
}

.btn-item-team a{
    background-color: #3a454d;
}

.btn-item-team a::before{
    font-size: 18px;
}
.btn-item-team a:hover{
    background-color: #4e5a62;
}

.team-item-description .team-title-name{
    color: #292f36;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    line-height: 18px;
}

.team-item-description .team-title-post{
    font-size: 14px;
    line-height: 26px;
}



h1, h2, p, figure{
    margin: 0;
}